/*home page*/






body#bodysim{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: beige;
    min-height: 100vh;
}




#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.card {
    padding: 40px;
    border: 1px solid #555;
    border-radius: 10px;
    width: 250px;
    height: 125px;
    cursor: pointer; /**/
    color: rgb(71, 53, 36);
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /**/
    overflow: hidden;  /**/
    transition: color 0.3s; 

}

.card h1, .card p {   /**/
    position: relative;
    z-index: 1;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #333;
    transition: height 0.3s ease;
    z-index: 0;


}

.card:hover::before {
    height: 100%;

}

.card:hover {
    color: white;
    
}


a{
    color: #aaa;
    text-decoration: none;
    font-family: monospace;
}

a:hover {
    color: rgb(33, 31, 31);
}



/* 4 leg simulation  */






body#body{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
    height: 100vh;
    background-color: #333;
    left: 0;

}




div#canvasWrap {
    position: relative; 
    display: flex;
    flex-direction: column; 
    width: 900px; 
    height: 850px; 
    align-items: center;
    color: white; 


}

#myCanvas, #trailCanvas {
    position: absolute;
    top: 60px; 
    left: 0;
    
}

div#controls {

    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: monospace;
    margin-top: 20px;
}


#controls input[type="range"]{
    width: 200px;
    cursor: crosshair;
}

#controls button {
    width: 200px;
    height: 40px;
    background-color: #555;
    font-family: monospace;
    font-size: larger;
    color: antiquewhite;
    border: 3px solid #000;
    border-top: #000000;
    border-left: #000000;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

#controls button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #aaa;
    transition: height 0.3s ease;
    z-index: -1;
}

#controls button:hover::before {
    height: 100%;
}

#controls button:active {
    
    border-bottom: 3px solid #555;
    border-right: 3px solid #555;
    border-top: 3px solid#555;
    border-left: 3px solid#555;
    height: 38px;
    
}





/*basic leg page*/
body#bodybasic{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    left: 0;
    gap: 100px;
    height: 100vh;
    background-color: #333;
    font-family: monospace;
    
}
a button {
    width: 100px;
    height: 40px;
    background-color: #555;
    font-family: monospace;
    font-size: larger;
    color: antiquewhite;
    border: 3px solid #000;
    border-top: #000000;
    border-left: #000000;
    border-radius: 4px;
    cursor: pointer;
}




/*Story*/

body#bodycalc {
    background-color: #000;
}

.story {
    height: 110%;
    font-family: monospace;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 80px 20px;
    background-color: #000000;
}

.scroll {

    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 20px;
    opacity: 0;
    color: chartreuse;
    text-shadow: #333;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.scroll.visible {
    opacity: 1;
    transform: translateY(0px);
}

#tableandcanvas {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}

#holytable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: chartreuse;
    
}
#holytable th, #holytable td {
        padding: 8px 12px;
        border-bottom: 1px solid #222;
        text-align: left;
    }

#holytable th {
    color: white;
    border-bottom: 1px solid #444;
}

#holytable tr :hover {
    background-color: #111;
    text-decoration: underline;
}

#legdiagram {
    position: relative;
    background-color: #111;
    border-radius: 10px;
    border: 1px solid #333;

}

#holytable td {
    color: white;
}