body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;

}
canvas{
    background-color: black;
    border: 1px solid #1a2a;
}